---
interface Props {
  answer: string;
}

const { answer } = Astro.props;
---

<div class="short-answer">
  <svg class="quote-icon" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
  </svg>
  <p>{answer}</p>
</div>

<style>
  .short-answer {
    background: var(--cream);
    border-left: 4px solid var(--red);
    border-radius: 0 var(--radius) var(--radius) 0;
    padding: 24px;
    margin: 32px 0;
    box-shadow: var(--shadow-md);
    position: relative;
  }

  .quote-icon {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 32px;
    height: 32px;
    color: var(--red);
    opacity: 0.1;
  }

  p {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--grey-900);
    line-height: 1.6;
    font-style: italic;
  }
</style>
